@{
    ViewData["Title"] = "Sobre mí";
}

<main class="flex-shrink-0">
    <header class="py-5">
        <div class="container px-5">
            <div class="row justify-content-start">
                <div class="col-lg-9 col-xxl-12">
                    <div class="text-start my-5">
                        <h1 class="fw-bolder mb-3">Our mission is to make building websites easier for everyone.</h1>
                        <p class="lead fw-normal text-muted mb-4">Start Bootstrap was built on the idea that quality, functional website templates and themes should be available to everyone. Use our open source, free products, or support us by purchasing one of our premium products or services.</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content-->
    <section class="py-4">
        <div class="container px-5 my-2">
            <div class="row gx-5">
                <div class="col-xl-12">
                    <!-- FAQ Accordion 1-->
                    <h2 class="fw-bolder mb-3">Account &amp; Billing</h2>
                    <p class="lead fw-normal text-muted mb-2">How can we help you?</p>
                    <p class="lead">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, iure numquam possimus provident atque deleniti quia, doloribus debitis tenetur porro dolores inventore fuga! Architecto, ipsum. Sunt commodi error enim ullam. Iusto consequatur beatae alias possimus veniam quaerat nesciunt molestias facilis vero. Quidem consequuntur quos fugiat?
                    </p>
                    <!-- FAQ Accordion 2-->
                    <h2 class="fw-bolder mb-3">Website Issues</h2>
                    <p class="lead fw-normal text-muted mb-2">How can we help you?</p>
                    <p class="lead">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, iure numquam possimus provident atque deleniti quia, doloribus debitis tenetur porro dolores inventore fuga! Architecto, ipsum. Sunt commodi error enim ullam. Iusto consequatur beatae alias possimus veniam quaerat nesciunt molestias facilis vero. Quidem consequuntur quos fugiat?
                    </p>
                    <p class="lead">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, iure numquam possimus provident atque deleniti quia, doloribus debitis tenetur porro dolores inventore fuga! Architecto, ipsum. Sunt commodi error enim ullam. Iusto consequatur beatae alias possimus veniam quaerat nesciunt molestias facilis vero. Quidem consequuntur quos fugiat?
                    </p>
                    <p class="lead">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, iure numquam possimus provident atque deleniti quia, doloribus debitis tenetur porro dolores inventore fuga! Architecto, ipsum. Sunt commodi error enim ullam. Iusto consequatur beatae alias possimus veniam quaerat nesciunt molestias facilis vero. Quidem consequuntur quos fugiat?
                    </p>
                    <p class="lead">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, iure numquam possimus provident atque deleniti quia, doloribus debitis tenetur porro dolores inventore fuga! Architecto, ipsum. Sunt commodi error enim ullam. Iusto consequatur beatae alias possimus veniam quaerat nesciunt molestias facilis vero. Quidem consequuntur quos fugiat?
                    </p>
                    <h2 class="fw-bolder mb-3">Account &amp; Billing</h2>
                    <p class="lead fw-normal text-muted mb-2">How can we help you?</p>
                    <p class="lead">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, iure numquam possimus provident atque deleniti quia, doloribus debitis tenetur porro dolores inventore fuga! Architecto, ipsum. Sunt commodi error enim ullam. Iusto consequatur beatae alias possimus veniam quaerat nesciunt molestias facilis vero. Quidem consequuntur quos fugiat?
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

<partial name="_Footer" />